[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js.git
	branch = master
[submodule "i2ConfiguratorCore"]
	path = i2ConfiguratorCore
	url = https://github.com/donalffons/i2ConfiguratorCore.git
[submodule "i2ConfiguratorExplorer"]
	path = i2ConfiguratorExplorer
	url = https://github.com/donalffons/i2ConfiguratorExplorer.git
